// 1、选择器尽量简洁，三级选择器以内
// 2、部分样式属性简写：[background-color：bg-color]  [border-color: bd-color] [background-image:bg-img]
// 3、变量名命名规则：--元素(英文小写、单词之间以-拼接)__(元素或状态之间以__双下划线拼接)元素__样式属性(若多个样式属性共用一个值，起个通用语意名字)

// 主题色
$u-view__primary__theme-color: var(--u-view-primary__theme-color) !important;

// u-button
.u-button--primary:not(.u-button--plain) {
  //一级选择器
  background-color: $u-view__primary__theme-color;
  border-color: $u-view__primary__theme-color;
}
.u-button--plain {
  color: $u-view__primary__theme-color;
  border-color: $u-view__primary__theme-color;
}

// u-tag
.u-tag--primary {
  background-color: $u-view__primary__theme-color;
  border-color: $u-view__primary__theme-color;
}

.u-tag--error{
  background-color: var(--u-tag__error__theme-color) !important;
  border-color: var(--u-tag__error__theme-color) !important;
}



