.block {
    background-color: #FFFFFF;
    padding: 20rpx;
    margin: 0 20rpx;
    border-radius: 12rpx;
}

.bigTitle {
    font-size: 32rpx;
    font-weight: bold;
    color: #222222;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.test {
    color: #2761FF;
}

.jz {
    display: flex;
    align-items: center;
}

.jz::before {
    content: "";
    height: 32rpx;
    width: 6rpx;
    background: #2761FF;
    margin: 0 10rpx 0 0;
    position: absolute;
    left: 20rpx;

}

.subtitle {
    font-size: 24rpx;
    color: #333333;
    margin: 24rpx 0;    
    display: flex;
    justify-content: space-between;
}

.subtitle-item {
    display: flex;
    align-items: center;
}

.view-marginBottom {
    margin: 0 0 8rpx 0;
}

.item-margin{
    margin: 0 0 30rpx 0;
}
.item-sides{
    margin:0 8rpx;
} 

.subItem-item {
    border: 1rpx solid #CCCCCC;
    font-size: 22rpx;
    color: #666666;
    padding: 6rpx 22rpx;
}

.subItem-item-active {
    border: 1rpx solid #2761FF;
    background: #2761FF;
    font-size: 22rpx;
    color: #FFFFFF;
    padding: 6rpx 22rpx;
} 

.text-lightgrey {
    font-size: 20rpx;
    color: #999999;
}

.text-bold {
    font-size: 40rpx;
    font-family: 'DIN';
    font-weight: bold;
    color: #333333;
}

.text-grey {
    font-size: 24rpx;
    color: #666666;
} 
.text-greyA0 {
    font-size: 20rpx;
    color: #A0A0A0;
}


.table-th {
    font-size: 20rpx;
    color: #333333;
}

.table-td {
    font-size: 22rpx;
    color: #666666;
}

.scrollContent {
    overflow: auto;
    height: 100%;

}